// ==============================
// Override Variables
// 覆盖变量
// ==============================

// Custom admonitions style
$custom-admonition-map: (
  ban: (
    color: #ff3d00,
    bg-color: rgba(255, 61, 0, 0.1),
  ),
);

$admonition-color-map: map-merge($admonition-color-map, $custom-admonition-map);
