// ==============================
// Custom style
// 自定义样式
// ==============================

.profile-custom {
  margin-top: 0.5rem;

  .docs-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
    border-radius: 2.5px;
    margin-block: 2rem;
    background: linear-gradient($global-background-color, $global-background-color) padding-box, linear-gradient(45deg, #42d392, #FF7359) border-box;
    border: 0.25rem solid transparent;
    transition: background-color 0.5s, border-color 0.5s;

    [data-theme='dark'] & {
      background: $global-background-color-dark;
      border-color: #fff;
    }

    .docs-outline {
      align-self: center;
      text-align: left;
      list-style: none;
      margin-inline: auto;
      flex-shrink: 0;

      li {
        position: relative;
        padding: 0.5rem 1.5rem;
        font-size: 18px;
        --timeline-color: #{darken($global-border-color, 5%)};
        --timeline-circle-color: #FF735A;
        --timeline-circle-size: 10px;
        --timeline-width: 2px;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            --timeline-index: #{$i};

            &::before {
              content: '#{$i}';
            }
          }
        }
        
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: var(--timeline-circle-size);
          height: var(--timeline-circle-size);
          font-size: var(--timeline-circle-size);
          line-height: var(--timeline-circle-size);
          text-align: center;
          border-radius: 50%;
          border: var(--timeline-width) solid var(--timeline-color);
          background-color: $global-background-color;
          color: transparent;
          z-index: 1;
          animation-name: border-color-fade;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-delay: calc(var(--timeline-index) * 0.3s);

          @keyframes border-color-fade {
            0% {
              border-color: var(--timeline-color);
            }
            50% {
              border-color: var(--timeline-circle-color);
              // 显示序号
              // color: #358C3C;
            }
            100% {
              border-color: var(--timeline-color);
            }
          }

          [data-theme='dark'] & {
            background-color: $global-background-color-dark;
          }
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: calc(var(--timeline-circle-size) / 2 + var(--timeline-width) / 2);
          width: var(--timeline-width);
          height: 100%;
          background-color: var(--timeline-color);
        }

        [data-theme='dark'] & {
          --timeline-color: #{darken($global-border-color, 50%)};
        }
      }
    }
    
    .docs-preview {
      width: 60%;
      height: auto;
      aspect-ratio: 572/300;
      padding-block: 0.5rem;
      margin-left: auto;
      position: relative;

      // 利用伪元素加载顺序巧妙实现 loading 效果
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

      &::before {
        background-color: rgba(204, 204, 204, 0.1);
        background-image: url(/images/loading.min.svg);
        background-size: 60px;

        [data-theme='dark'] & {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      &::after {
        background-image: url(/images/apple-devices-preview.webp);
        background-size: 130%;
      }
    }
  }

  .quick-start-btn {
    display: inline-block;
    border-radius: 8px;
    transition: background-color 0.5s, color 0.5s;
    font-weight: 600;
    padding: 8px 1rem;
    margin-block: 1rem;
    letter-spacing: 3px;
    background-color: #42b883;
    color: #fff;

    i {
      transition: transform 0.2s;
    }

    &:hover {
      background-color: #33a06f;
      transition-duration: 0.2s;

      i {
        transform: translate(2px);
      }

      [data-theme='dark'] & {
        background-color: #42d392;
        color: #f0f0f0;
      }
    }
  }
}

[lang='en'] {
  .collection-details .collection-summary .collection-name::before {
    content: '';
  }
}

// ==============================
// Mobile style
// ==============================
@media only screen and (max-width: 680px) {
  .profile-custom {
    .docs-navigation {
      .docs-outline {
        li {
          padding-block: 0.25rem;
        }
      }

      .docs-preview {
        width: 100%;
      }
    }
  }
}
