{{- define "custom-head" -}}
  {{- partial "inject/component-projects.html" . -}}
  {{- partial "inject/shortcode-rewards.html" . -}}
{{- end -}}

{{- define "custom-profile" -}}
  {{- partial "custom/profile.html" . -}}
{{- end -}}

{{- define "custom-aside" -}}
  {{- partial "custom/aside.html" . -}}
{{- end -}}

{{- define "custom-comment" -}}
{{- end -}}

{{- define "custom-footer" -}}
{{- end -}}

{{- define "custom-widgets" -}}
{{- end -}}

{{- define "custom-assets" -}}
  {{- partial "inject/shortcode-caniuse.html" . -}}
{{- end -}}

{{- define "custom-post__footer:before" -}}
{{- end -}}

{{- define "custom-post__footer:after" -}}
{{- end -}}
